body{
    padding: 30px 120px;
    background-color: #DCE0E4;
    
}
#inicio{
    width: 100%;
    height: 85vh;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: #DCE0E4;
    display: flex;
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url(imagens/logo\ portifolio.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
}
#navbar > .nav-btn {
    display: none;
  }
  #navbar > #nav-check {
    display: none;
  }  

.navbar-links{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.navbar-links ul{
    list-style: none;
}
.navbar-links li{
    display: inline;
    margin-left: 30px;
}
.navbar-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}
.navbar-links a:hover{
    background-color: #08090f;
    color: #DCE0E4;
    padding: 5px;
    transition: 1.0s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
.nav > #nav-check {
    display: none;
  }
#toggle-mode{
    margin-left: 30px;
    background-color: transparent;
    width: 100px;
    height: 50px;
    font-size: 12px;
    transition: 1.0s;
    height: 30px;
    margin-top: 10px;
}
#toggle-mode:hover{
    background-color: black;
    width: 120px;
    font-size: 16px;
    color: white;
}
/*  inicio dark mode */
.dark-mode{
    background-color: #08090f;
}
.dark-mode #navbar{
    background-color: #08090f;
}
.dark-mode .logo{
    background-image: url(imagens/logo\ portifolio\ dark\ mode.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.dark-mode .navbar-links a{
    color: #DCE0E4;
}
.navbar-links a:hover{
    background-color: #DCE0E4;
    color: #08090f;
}
.dark-mode #toggle-mode{
    border: 1px solid #DCE0E4;
    color: #DCE0E4;
}
.dark-mode #toggle-mode:hover{
    background-color: #DCE0E4;
    width: 120px;
    font-size: 16px;
    color: #08090f;
}
/* fim do dark mode */

/* inicio do responsivo responsivo*/

@media screen and (max-width: 1118px) {

        #navbar > .nav-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
        }
        #navbar > .nav-btn > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
        }
        #navbar > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
          background-color: rgba(0, 0, 0, 0.3);
        }
        #navbar > .nav-btn > label > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
        }
        #navbar > .navbar-links {
          position: absolute;
          display: block;
          width: 100%;
          background-color: #333;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
        }
        #navbar > .navbar-links > a {
          display: block;
          width: 100%;
        }
        #navbar > #nav-check:not(:checked) ~ .navbar-links{
          height: 0px;
        }
         #navbar > #nav-check:checked ~ .navbar-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
        }
      }




/* fim do responsivo responsivo*/
