body{
    padding: 30px 120px;
    background-color: #DCE0E4;
    
}
#inicio{
    width: 100%;
    height: 85vh;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: #DCE0E4;
    display: flex;
}

.logo{
    width: 50px;
    height: 50px;
    background-image: url(imagens/logo\ portifolio.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: auto;
}
.navbar-links{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.navbar-links ul{
    list-style: none;
}
.navbar-links li{
    display: inline;
    margin-left: 30px;
}
.navbar-links a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.navbar-links a:hover{
    padding: 5px;
    color: #DCE0E4;
    background-color: #08090f;
    transition: 1.0s;
}


#toggle-mode{
    margin-left: 30px;
    background-color: transparent;
    width: 100px;
    height: 50px;
    font-size: 12px;
    transition: 1.0s;
    height: 30px;
    margin-top: 10px;
}
#toggle-mode:hover{
    background-color: black;
    width: 120px;
    font-size: 16px;
    color: white;
}
/*  inicio dark mode */
.dark-mode{
    background-color: #08090f;
}
.dark-mode #navbar{
    background-color: #08090f;
}
.dark-mode .logo{
    background-image: url(imagens/logo\ portifolio\ dark\ mode.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
.dark-mode .navbar-links a{
    color: #DCE0E4;
}
.dark-mode .navbar-links a:hover{
    background-color: #DCE0E4;
    color: #08090f;
}
.dark-mode #toggle-mode{
    border: 1px solid #DCE0E4;
    color: #DCE0E4;
}
.dark-mode #toggle-mode:hover{
    background-color: #DCE0E4;
    width: 120px;
    font-size: 16px;
    color: #08090f;
}
/* fim do dark mode */

/* inicio do responsivo responsivo*/



        




/* fim do responsivo responsivo*/
